body {
    font-family: 'Segoe UI';
}

header {
    background-color: #20408a
    ;
}

header > h1 {
    color: #FFFF;
    padding: 0.5rem;
}

#calcBtn {
    color: #20408a;
    font-size: 1rem;
    padding: 0.5rem 1rem;

}

#resultDiv > p {
    font-weight: bold;
}

#resultDiv {
    background-color: #a9abae;
    border-radius: 1rem;
    padding: 0.1em;
    padding-left: 1em;
}