* {
    margin: 0;
    padding: 0rem;
}

body {
    font-family: 'Segoe UI';
}

header, footer {
    background-color: #20408a;
}

footer {
    text-align: center;
}

header > h1, footer > p {
    color: #FFFF;
    padding: 0.5rem;
}

#formDiv {
    padding-left: 0.6em;
    padding-right: 1em;
}

#addBtn {
    color: #20408a;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-left: 0.8em;
}

.subFormDivs {
    display: flex;

}

.textInput {
    width: 95%;
}

.textInputDivs {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

#yearInput {
    width: 50%;
} 

#authorDiv {
    padding-right: 3em;
}

#titleDiv, #yearDiv {
    padding-right: 4.2em;
}

#recordsDiv {
    display: flex;
    justify-content: space-around;
    border-style: groove;
    border-color: #000;
}

.recordsElement {
    color: #FFF;
}

#addedAuthorDiv, #addedTitleDiv, #addedYearDiv {
    background-color:#20408a;
}

.recElms {
    color: #FFF;
}

#listView {
    margin: 0.8em;
}

#listView tr > th {
    background-color:#20408a;
    color: #FFF;
    text-align: left;
}

#listView tr > th:last-child {
    width: 1%;
}

/* Changing style of third child object in the row element */
#listView tr > th:nth-child(3) {
    width: 10%;
}

.trashImg {
    width: 1.4em;
}


